@model EmployeeViewModel

@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<div>
    <hr />
    <div class="form-group">
        <h3 class="text-center">Employee Details</h3>
        <div class="text-left">
            <p class="font-weight-bold">Full Name:</p>
            <p>@Html.DisplayFor(model => model.FullName)</p>
        </div>
        <div class="text-left">
            <p class="font-weight-bold">Email:</p>
            <p>@Html.DisplayFor(model => model.Email)</p>
        </div>
        <div class="text-left">
            <p class="font-weight-bold">Salary Information:</p>
            <p>@Html.DisplayFor(model => model.Salary)</p>
        </div>
        <div class="text-left">
            <p class="font-weight-bold">Dependent Information:</p>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        @*<th>#</th>*@
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Relationship</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DependentViewModel dependent in Model.Dependents)
                    {
                        <tr>
                            @*<th scope="row">@dependent.ID</th>*@
                            <td>@dependent.FirstName</td>
                            <td>@dependent.LastName</td>
                            <td>@dependent.Relationship</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div>
    <a asp-action="PreviewCosts" asp-route-id="@Model.ID">Check Costs</a>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>